html{
    font-family: arial;
}

body{
    background-color: black;
    color: white;
}

.ytB{
    width: 170px;
    height: 30px;
    background-color: #7289DA;
    color: white;
    border-radius: 30px;
    text-align: centre;
    text-decoration: none;
    transition: 0.115s ease-i;
}

.sSB{
    width: 170px;
    height: 30px;
    background-color: #7289DA;
    color: white;
    border-radius: 30px;
    transition: 0.115s ease-i;
    text-align: centre;
    text-decoration: none;
}

.ghB{
    width: 170px;
    height: 30px;
    background-color: #7289DA;
    color: white;
    border-radius: 30px;
    transition: 500ms;
    text-align: centre;
    text-decoration: none
}

.ytB:hover{
    background-color: lightgrey;
}

.web_stats{
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
}

.repo{
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
}
